.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.signup-box{
    border: 1px solid #eff2f5;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgb(62 28 131 / 25%);

}