/* temp  */
.box {
    height: 100%;
    /* background: lightcoral; */
    background: #fdfdfd;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .row {
    flex-grow: 1;
  }
  
  #map {
    min-height: 40rem;
    height: 100%; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

/* hide the map terrain button */
.gm-style-mtc:first-child {
  display: none;
}

/* Left pane independent scroll */
.left-pane {
  overflow-y: auto;
  height: 100vh;
}

/* Listings style */
.top-bar {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.listing-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.listing-icon {
  margin-right: 10px;
  color: #000000;
  cursor: pointer;
}

.listing-details {
  flex: 1;
}

.listing-details h3 {
  margin: 0;
  font-size: 18px;
  /* make sure text is offset by icons */
  display: flex;
  align-items: center;
}

.listing-details p {
  margin: 5px 0px 0px 1.75rem;
  font-size: 14px;
}

.listing-details h3 i {
  margin-right: 8px;
}
@media (max-width: 768px) {
  #donate-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 999;
  }
}