/* temp  */
.box {
    height: 100%;
    /* background: lightcoral; */
    background: #fdfdfd;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  .container-fluid {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .row {
    flex-grow: 1;
  }
  
  #map {
    height: 100%; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}